#controller{
	width:30%;
	border: 1px solid;
	background-color: #8b61a9;
	padding:20px;
	color:white;
}
input{
	width:60%;
	padding:20px;
	font-size:15px;

}
body{
	margin-top:100px;
	background-color: #abcdef;
}
button{
	border:none;
	background-color:#1976d2;
	width:15%;
	height:auto;
	color:white;
	font-size:25px;
}