<html ng-app="nameApp">
<head>
<title> Angular Examples</title>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<script src="angular.min.js"></script>
<script>
		
 var nameApp = angular.module('nameApp',[]);
 nameApp.controller('NameControl',function($scope){
 	$scope.names=[];
 	$scope.addname = function(){
 		var json = {name:$scope.player,hs:$scope.hs};
 		$scope.names.push(json);
 		$scope.player="";
 		$scope.hs="";
 	}
 	$scope.remove = function(name){
 		var i = $scope.names.indexOf(name);
 		$scope.names.splice(i,1);
 	}
 });

</script>
</head>
<body ng-controller="NameControl">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Name</th>	
<th>HighScore</th>	
<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="name in names">	
<td> {{name.name}} </td>
<td> {{name.hs}} </td>
<td><a href="" ng-click="remove(name)">Remove</a></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="col-sm-4">
<!-- <ul>
<li ng-repeat="name in names">Name : {{name.name}} , HighestScore: {{name.hs}}
<a href="" ng-click="remove(name)">Remove</a>
</li>
</ul> -->
<form ng-submit="addname();">
<div class="form-group">
<label>Player</label>
<input class="form-control"ng-model="player" type="text"/>
</div>
<label>HighScore</label>
<div class="form-group">
<input class="form-control"ng-model="hs" type="text"/>
</div>
<div class="form-group">
<button type="submit">Add</button>
</div>
</form>
</div>
<div class="col-sm-4"></div>
</div>
</div>
</body>
</html> 